/* GENERAL -------------------------------------- */

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 90px;
  padding: 0 16px;
  background-color: #282828;
  /* border-top: 1px solid #000; */
  color: green; /* DEBUG:  */
  justify-content: space-between;
  align-items: center;
}

.f-col{
  align-items: center;
}

.left{

}


.center{
  flex-flow: column nowrap;
}
.contatore{
  flex-wrap: nowrap;
  align-items: center;
}

.right{
  flex-wrap: nowrap;

}






/* MAXI DESKTOP -------------------------------- */
@media screen and (min-width: 1200px){


}

/* DESKTOP -------------------------------- */
@media screen and (min-width: 992px) and (max-width:1199px ) {


}

/* TABLET --------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {


}

/* MOBILE --------------------------------- */
@media screen and (max-width: 767px) {


}
