/* GENERAL -------------------------------------- */

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  height: 90px;
  padding: 0 16px;
  background-color: #282828;
  /* border-top: 1px solid #000; */
  color: green;
}


/* MAXI DESKTOP -------------------------------- */
@media screen and (min-width: 1200px){


}

/* DESKTOP -------------------------------- */
@media screen and (min-width: 992px) and (max-width:1199px ) {


}

/* TABLET --------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {


}

/* MOBILE --------------------------------- */
@media screen and (max-width: 767px) {


}
