/* GENERAL -------------------------------------- */

main{
  height: 1200px;
  display: flex;
  justify-content: flex-end;
}

.body-of-main{
  width: calc(100% - 250px);
  padding-top: 60px;
}


/* MAXI DESKTOP -------------------------------- */
@media screen and (min-width: 1200px){


}

/* DESKTOP -------------------------------- */
@media screen and (min-width: 992px) and (max-width:1199px ) {


}

/* TABLET --------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {


}

/* MOBILE --------------------------------- */
@media screen and (max-width: 767px) {
  .body-of-main{
    width: calc(100% - 70px);
  }

}
