/* GENERAL -------------------------------------- */
.navbar{
  position: fixed;
  display: flex;
  width: 230px;
  flex-wrap: wrap;
  height: 100vh;
  background: rgba(0,0,0,.8);
}
.navbar .colonna{
  display: flex;
  height: calc(100% - 90px);
  width: 100%;
}

.logo-lg{
  width: 131px;
  height: 40px;
  margin: 0 auto;
  padding: 10px 0px;
}



/* MAXI DESKTOP -------------------------------- */
@media screen and (min-width: 1200px){
.colonna-xs {
  display: none;
}

}

/* DESKTOP -------------------------------- */
@media screen and (min-width: 992px) and (max-width:1199px ) {
  .colonna-xs {
    display: none;
  }

}

/* TABLET --------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .colonna-xs {
    display: none;
  }

}

/* MOBILE --------------------------------- */
@media screen and (max-width: 767px) {
.colonna-lg{
    display: none;
  }
  .navbar{
    width: 50px;
  }

}
