/* GENERAL -------------------------------------- */
.navbar{
  position: fixed;
  width: 230px;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  background: rgba(0,0,0,.8);
}

.logo-lg{
  width: 131px;
  height: 40px;
  margin: 0 27px;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.navbar .colonna{
  height: calc(100% - 90px);
  width: 100%;
  flex-direction: column;
}

.bottoni-menu-nav{
  padding: 6px 16px;
  margin: 0 8px;
  align-items: center;
  opacity: 0.8;
  cursor: pointer;
}
.bottoni-menu-nav:hover{
  color: white;
  opacity: 1;
}
.bottoni-menu-nav:focus{
  border-left: 2px yellow solid;
  opacity: 1;
  outline: none;
}

.bottoni-menu-nav img{
  width: 24px;
  height: 24px;
  margin-right:16px;
}
.menu-lg h4{
  font-size: 14px;
}





/* MAXI DESKTOP -------------------------------- */
@media screen and (min-width: 1200px){
.colonna-xs {
  display: none;
}

}

/* DESKTOP -------------------------------- */
@media screen and (min-width: 992px) and (max-width:1199px ) {
  .colonna-xs {
    display: none;
  }

}

/* TABLET --------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .colonna-xs {
    display: none;
  }

}

/* MOBILE --------------------------------- */
@media screen and (max-width: 767px) {
.colonna-lg{
    display: none;
  }
  .navbar{
    width: 50px;
  }

}
