/* NAVBAR GENERI -------------------------------------- */

main{
  height: 1200px;
  display: flex;
  justify-content: flex-end;
}

.body-of-main{
  width: calc(100% - 250px);
  padding-top: 60px;
}

.generi ul{
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.generi a{
 padding: 25px 25px 5px 25px;
 opacity: 0.7;
 cursor: pointer;
 text-decoration: none;
 color: white;font-weight: normal;
 box-sizing: border-box;
}
.generi li{
  flex-direction: column;
  align-items: center;
}
.generi hr{
  width: 30%;
  border: 1px solid yellow;
  display: none;
}
.generi a:hover hr{
  display: block;
}
.generi a:focus hr{
  display: block;
}
.generi h5{
  font-weight: normal;
}

/* RIGHE COVERS -------------------------------------- */
.covers{
  flex-wrap: nowrap;

}

.col-covers{
  width: 160px;
  height: 160px;
  background: red;
  margin-right: 10px;
  flex-shrink: 0;
}


/* MAXI DESKTOP -------------------------------- */
@media screen and (min-width: 1200px){


}

/* DESKTOP -------------------------------- */
@media screen and (min-width: 992px) and (max-width:1199px ) {


}

/* TABLET --------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {


}

/* MOBILE --------------------------------- */
@media screen and (max-width: 767px) {
  .body-of-main{
    width: calc(100% - 70px);
  }

}
